// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  height: 69px;
  border-bottom: 1px solid $theme-gray;
  padding: 6px 0;
  /* box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1); */
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  .container {
    @include breakpoint(max-sm) {
      --bs-gutter-x: 20px;
    }
  }
  .header-container {
    display: flex;
    > div {
      flex: 1 1 auto;
    }
  }
  .header-logo-wrap {
    white-space: nowrap;
    display: flex;
    padding-left: 10px;
    @include breakpoint(max-md) {
      padding-left: 0;
    }
    a {
      margin-right: 10px;
    }
    a:last-child {
      margin-right: 0;
    }
    @include breakpoint(max-md) {
      flex: 1;
    }
  }
  .header-search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(max-md) {
      display: none;
    }
    .header-search-area {
      width: 100%;
      > div {
        position: relative;
        .searchwrap-box {
          position: relative;
          max-width: 359px;
        }
        .searchresult {
          display: none;
          position: absolute;
          top: calc(100% + 5px);
          padding: 10px;
          background: $theme-white;
          color: $theme-dark;
          box-shadow: 0px 0 20px $theme-gray;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          border-radius: 10px;
          padding: 10px 0px;
          width: 100%;
          height: 430px;
          .optiscroll-vtrack {
            background: rgba(90, 90, 90, 0.3);
            width: 9px;
            opacity: 1;
          }
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 8px 0px;
            li.spacing {
              border-bottom: 1px solid $theme-light;
            }
            li {
              .viewall {
                padding-top: 12px;
                padding-bottom: 12px;
              }
              .title {
                display: block;
                padding: 3px 20px;
                font-size: 14px;
                color: $theme-gray2;
                margin-top: 4px;
                margin-bottom: 2px;
              }
              a {
                font-size: 14px;
                display: block;
                padding: 8px 20px;
                text-decoration: none;
                color: $theme-dark;
                position: relative;
                text-decoration: none;
                &:hover {
                  background: $theme-light;
                }
              }
              a.searchhelper {
                padding-left: 46px;
                &:after {
                  content: '';
                  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 9C5.88749 8.99982 6.7494 8.70271 7.4485 8.156L9.6465 10.354L10.3535 9.647L8.1555 7.449C8.7025 6.74983 8.99979 5.88772 9 5C9 2.7945 7.2055 1 5 1C2.7945 1 1 2.7945 1 5C1 7.2055 2.7945 9 5 9ZM5 2C6.6545 2 8 3.3455 8 5C8 6.6545 6.6545 8 5 8C3.3455 8 2 6.6545 2 5C2 3.3455 3.3455 2 5 2Z' fill='%2320202a'/%3E%3C/svg%3E%0A");
                  background-repeat: no-repeat;
                  width: 16px;
                  height: 16px;
                  top: 13px;
                  display: block;
                  position: absolute;
                  left: 18px;
                }
              }
              a.searchuser {
                display: flex;
                .searchimg-wrap {
                  width: 32px;
                  height: 32px;
                  border-radius: 7px;
                  overflow: hidden;
                  background: #c4c4c4;
                  display: inline-block;
                  margin-right: 12px;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .search-text-wrap {
                  display: flex;
                  flex-direction: column;
                  flex: 1;
                  > span:first-child {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $theme-dark;
                  }
                  > span:last-child {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $theme-gray3;
                  }
                }
              }
            }
          }
        }
      }
      input {
        font-size: 14px;
        padding-right: 40px;
        max-width: 359px;
        background: $theme-light;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 9C5.88749 8.99982 6.7494 8.70271 7.4485 8.156L9.6465 10.354L10.3535 9.647L8.1555 7.449C8.7025 6.74983 8.99979 5.88772 9 5C9 2.7945 7.2055 1 5 1C2.7945 1 1 2.7945 1 5C1 7.2055 2.7945 9 5 9ZM5 2C6.6545 2 8 3.3455 8 5C8 6.6545 6.6545 8 5 8C3.3455 8 2 6.6545 2 5C2 3.3455 3.3455 2 5 2Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: right 18px center;
        outline: 0;
        border: 1px solid $theme-light;
      }
    }
    &.active {
      .searchresult {
        display: block !important;
      }
    }
  }
  .header-button-wrap {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: end;
    .btn {
      margin-right: 5px;
      @include breakpoint(max-md) {
        min-width: 80px;
      }
    }
    .btn:last-child {
      margin-right: 0;
    }
  }
}

.header-auth-wrap {
  position: relative;
  .mobile-me {
    @include breakpoint(max-sm) {
      display: none;
    }
  }
}

.circular {
  height: 100px;
  width: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: $theme-white;
  border-radius: 100%;
}
.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: $theme-yellow;
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: $theme-yellow;
}
.circle .left .progress {
  z-index: 1;
  animation: left 1s linear both;
}
@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}
.circle .right {
  transform: rotate(180deg);
  z-index: 3;
}
.circle .right .progress {
  animation: right 1s linear both;
  animation-delay: 1s;
}
@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}

.notification-wrapper {
  position: absolute;
  right: 0;
  background-color: #fff;
  opacity: 0;
  padding: 8px 0px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 20px #dbdbdb;
  box-shadow: 0px 0 20px #dbdbdb;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  top: 100%;
  width: 360px;
  z-index: 9;
  pointer-events: none;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  &.active {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    border-color: $theme-white;
    border-width: 1px 0 0 1px;
    width: 12px;
    height: 12px;
    top: -7px;
    right: 85px;
    background: inherit;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .notification-title {
    font-weight: 700;
    font-size: 24px;
    padding: 6px 16px 8px 16px;
  }
  .notification-menu {
    padding: 0px 16px;

    > ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      > li {
        font-size: 12px;
        margin-right: 5px;
        margin-bottom: 6px;
        > a {
          padding: 3px 8px;
          background: $theme-gray;
          color: $theme-dark;
          border-radius: 50px;
          text-decoration: none;
        }
        > a.active {
          background: $theme-orange;
          color: $theme-white;
        }
      }
      > li:last-child {
        margin-right: 0;
      }
    }
  }
  .notification-activity .tab-pane {
    padding: 8px 16px;
    .notif-placeholder {
      padding: 50px 0px 80px 0px;
      white-space: pre-wrap;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

#alertModal,
#alertreplaceModal {
  .modal-body {
    padding: 0;
    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: rgb(22, 24, 35);
      word-break: break-word;
      text-align: center;
      padding: 25px 30px 6px 30px;
    }
    p {
      margin-top: 8px;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      word-break: break-word;
      text-align: center;
      color: rgba(22, 24, 35, 0.5);
      padding: 0px 15px 6px 15px;
    }
    .btn-alert {
      padding: 16.5px 16px 17px;
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      border-top: 1px solid rgba(22, 24, 35, 0.12);
      word-break: break-word;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      &.red {
        a {
          font-weight: 600 !important;
          color: rgb(254, 44, 85) !important;
        }
      }
    }
  }
}
