// -----------------------------------------------------------------------------
// This file contains all styles related to the sections of the site/application.
// -----------------------------------------------------------------------------
@import url('../vendor/select2/select2.min.css');
@import url('../vendor/datatables/datatables.min.css');
body {
  color: $theme-black;
  font-family: $default-font;
  overflow-x: hidden;
  background-color: $theme-admin;
  font-size: 14px;
  font-weight: 400;
  color: $theme-dark;
}
.navbar-bg {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  background-color: $theme-purple;
  z-index: -1;
}
.navbar {
  height: 60px;
  left: 250px;
  right: 5px;
  position: absolute;
  z-index: 890;
  background-color: transparent;
  align-items: center;
  padding: 0px 14px;
  top: 5px;
  justify-content: space-between;
  transition: all 0.5s;
  flex-flow: nowrap;
  @include breakpoint(max-lg) {
    left: 0;
  }
  .navbar-nav {
    flex-direction: row;
    a {
      text-decoration: none;
    }
    .btn {
      margin-bottom: 0;
      padding: 6px 14px;
      min-width: auto;
      border-radius: 10px;
      font-size: 13px;
    }
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      padding: 0.5rem 0;
      margin: 0.125rem 0 0;
      font-size: 1rem;
      color: $theme-dark;
      text-align: left;
      list-style: none;
      background-color: $theme-white;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
      border: none;
      width: 200px;
      box-shadow: 0 10px 40px 0 rgba(51, 73, 94, 0.15);

      &.show {
        display: block !important;
        right: 0;
        left: auto;
      }
      .dropdown-item {
        display: block;
        width: 100%;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        padding: 10px 20px;
        font-weight: 500;
        line-height: 1.2;
        text-decoration: none;
        font-size: 14px;
        i {
          text-align: center;
          width: 15px;
          font-size: 15px;
          float: left;
          margin-right: 10px;
        }
      }
    }
    .dropdown {
      a {
        &:after {
          position: absolute;
          right: 0;
          top: 14px;
        }
      }
    }
  }
  .form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link {
    color: #f2f2f2;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 100%;
    display: flex;
    white-space: nowrap;
    > div:first-child {
      margin-right: 8px;
    }
    i {
      margin-left: 0 !important;
      font-size: 18px;
      line-height: 32px;
    }
    div {
      margin-top: 3px;
    }
  }
  .nav-link-user {
    color: $theme-white;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 600;
    text-decoration: none;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
}
.main-sidebar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: $theme-white;
  z-index: 880;
  left: 0;
  transition: all 0.5s;
  overflow: auto;
  @include breakpoint(max-lg) {
    left: -250px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      display: block;
      position: relative;
      &.menu-header {
        padding: 12px 15px 6px 15px;
        color: $theme-gray7;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 600;
      }
      &.active {
        a.has-dropdown:after {
          transform: translate(0, -50%) rotate(90deg);
        }
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 20px;
        width: 100%;
        letter-spacing: 0.3px;
        color: $theme-gray3;
        text-decoration: none;
        font-size: 14px;
        i {
          width: 28px;
          margin-right: 20px;
          text-align: center;
        }
        &.has-dropdown:after {
          content: 'ï”';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translate(0, -50%);
          font-size: 12px;
          transition: all 0.25s;
        }
      }
      a:hover {
        color: $theme-purple;
      }
      &.active {
        a {
          color: $theme-purple;
          font-weight: 600;
          background-color: $theme-light2;
        }
      }
    }
  }

  ul.dropdown-menu {
    padding: 0;
    margin: 0;
    display: block;
    opacity: 0;
    height: 0;
    transition: height 0.5s ease-in;
    position: static;
    float: none;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    border: 0;
    li {
      display: block;
      a {
        color: $theme-gray6;
        height: 35px;
        padding-left: 65px;
        font-weight: 400;
        font-size: 13px;
      }
      a.active {
        color: $theme-purple;
      }
      a:hover {
        color: $theme-purple;
      }
    }
  }
}

.main-content {
  padding-left: 280px;
  padding-right: 30px;
  padding-top: 80px;
  width: 100%;
  position: relative;
  min-height: 520px;
  transition: all 0.5s;
  @include breakpoint(max-lg) {
    padding-left: 30px;
  }
  .content-header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: $theme-white;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    .content-header-title {
      display: flex;
      align-items: center;
      .content-header-right {
        margin-left: 10px;
        text-align: right;
        .btn {
          font-size: 14px;
          padding: 6px 10px;
          min-width: auto;
          margin-right: 5px;
        }
        .btn:last-child {
          margin-right: 0;
        }
      }
    }
    h1 {
      margin: 0;
      font-weight: 700;
      display: inline-block;
      font-size: 24px;
      color: $theme-black;
      line-height: initial;
      margin-bottom: 4px;
    }
    .content-header-breadcrumb {
      margin-left: auto;
      display: flex;
      align-items: center;
      @include breakpoint(max-md) {
        display: none;
      }
      .breadcrumb-item {
        font-size: 12px;
        a {
          color: #6c757d;
        }
        &.active {
          a {
            color: $theme-purple;
          }
        }
      }
    }
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: $theme-white;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    .card-icon {
      width: 80px;
      height: 80px;
      margin: 10px;
      border-radius: 3px;
      line-height: 94px;
      text-align: center;
      float: left;
      margin-right: 15px;
      i {
        font-size: 34px;
        color: $theme-white;
      }
    }
    .card-header {
      border-bottom: 0;
      -ms-grid-row-align: center;
      align-self: center;
      background: transparent;
      padding: 15px 15px 0px 0px;
      display: flex;
      align-items: center;
      padding-bottom: 0;
      h4 {
        color: $theme-gray3;
        font-size: 14px;
        margin: 0;
        min-height: 34px;
      }
    }
    .card-body {
      font-weight: 700;
      color: $theme-black;
      padding-bottom: 0;
      font-size: 22px;
      padding: 5px 15px 12px 25px;
    }
  }
}

.nav-tabs-custom {
  .tab-content {
    padding: 20px;
    background: $theme-white;
    border: 1px solid #dee2e6;
    border-top: 0;
    margin-bottom: 20px;
  }
}
.nav-tabs .nav-link {
  text-decoration: none;
}

.box-info {
  background: $theme-white;
  .box-body {
    padding: 30px 30px;
    .form-group {
      padding: 0px 0px 20px 0px;
      display: flex;
    }
    .existing-photo {
      margin-top: 10px;
      max-height: 250px;
      max-width: 100%;
    }
  }
}

/** Select plugin **/
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
  position: absolute;
  top: 50%;
  right: 8px;
  width: 20px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0.375rem 0.75rem;
}
.select2-container .select2-selection--single {
  height: auto;
  border: 1px solid #ced4da;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 0;
}

.nav-mainmenu {
  opacity: 0;
  pointer-events: none;
  @include breakpoint(max-lg) {
    opacity: 1;
    pointer-events: all;
  }
}

.showmenu {
  .main-sidebar {
    left: 0 !important;
  }
  .main-navbar {
    left: 250px !important;
  }
}

.sidebar-menu {
  .dropdown.active {
    .dropdown-menu {
      opacity: 1;
      height: auto;
    }
  }
}

table {
  width: 100%;
  .chip-label {
    font-size: 12px;
  }
  .btngroup-action {
    display: flex;

    text-align: center;
    justify-content: end;
    a {
      margin-right: 5px;
      font-size: 12px;
      min-width: auto;
      padding: 3px 14px;
      margin-bottom: 7px;
    }
    a:last-child {
      margin-right: 0;
    }
  }
}

.dataTables_wrapper {
  .dt-buttons {
    position: absolute;
    top: -3px;
    .btn {
      border-radius: 0;
      padding: 5px;
      font-size: 14px;
    }
  }
  .page-item.active .page-link {
    background-color: $theme-purple;
    border-color: $theme-purple;
  }
  .pagination {
    font-size: 13px;
    a {
      text-decoration: none;
    }
  }
}
#tablelist {
  img {
    width: 100%;
    max-height: 60px;
    object-fit: cover;
  }
  .profilephoto {
    height: 60px;
    width: 60px;
    border-radius: 100% !important;
  }
}

.chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 14px;
  margin-right: 1rem;
  font-size: 14px;
  font-weight: 500;
  color: $theme-white;
  background-color: $theme-purple2;
  border-radius: 0;
  transition: opacity 0.3s linear;
  word-wrap: break-word;
  text-transform: none;
  margin: 0;
  text-align: center;
  flex-direction: column;
  &.color-red {
    background-color: $theme-red !important;
    color: $theme-white !important;
  }
  &.color-green {
    background-color: $theme-green !important;
    color: $theme-white !important;
  }
  &.color-yellow {
    background-color: $theme-yellow !important;
    color: $theme-white !important;
  }
  .chip-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
  }
}

.main-content .card {
  text-decoration: none !important;
}

#tablelist {
  video {
    width: 200px;
    height: 150px;
    background: #000;
    object-fit: cover;
  }
}

.reviewvideowrap {
  .rev-videophoto {
    padding-bottom: 30px;
    position: relative;
    background-color: $theme-black;
    min-height: 300px;
    margin-bottom: 30px;
    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  .carousel {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    height: 100%;
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .form-group {
    > div {
      flex: 1;
    }
  }
  a {
    color: $theme-orange;
  }
  .chip {
    width: auto;
    display: inline-block;
  }
  .control-label {
    font-weight: bold;
  }
  video {
    background-color: #000;
    object-fit: contain;
    width: 100%;

    max-height: 350px;
  }
  .review-button-list {
    button {
      font-size: 14px;
      padding: 5px 25px;
      margin-right: 5px;
    }
    button:last-child {
      margin-right: 0;
    }
  }
}

.captxt {
  text-transform: capitalize;
}
.btn-success {
  border-color: $theme-green;
  background-color: $theme-green;
  &:hover {
    border-color: #29bc42;
    background-color: #29bc42;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.videourl-text {
  overflow-wrap: break-word;
}

.chiptag {
  display: inline-flex;
  flex-direction: row;
  background-color: #e5e5e5;
  border: none;
  cursor: default;
  height: 36px;
  outline: none;
  padding: 0;
  font-size: 14px;
  font-color: #333333;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  align-items: center;
  border-radius: 16px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
  margin-right: 5px;
}
.chip-head {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #32c5d2;
  font-size: 1.25rem;
  flex-shrink: 0;
  align-items: center;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
  width: 36px;
  color: #fff;
  height: 36px;
  font-size: 20px;
  margin-right: -4px;
}
.chip-content {
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}
.chip-svg {
  color: #999999;
  cursor: pointer;
  height: auto;
  margin: 0px 4px 0 -8px;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}
.chip-svg:hover {
  color: #666666;
}

.tagname {
  font-size: 18px;
  color: $theme-orange;
}

#nav-upload {
  position: relative;
  background: $theme-white;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  .video-upload-input-area {
    background: #fff;
    border: 2px dashed #bdbdbd;
    border-radius: 16px;
    text-align: center;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    &:hover {
      border: 2px dashed $theme-orange;
    }
    label {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
    .info-star {
      h5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }

  .text-limit {
    position: absolute;
    top: 16px;
    right: 0;
    font-size: 15px;
    color: $theme-gray2;
  }
  #submit_post {
    .form-group {
      margin-bottom: 14px;
      > label {
        font-size: 16px;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
        color: $theme-black;
      }
    }
    .videocopytext {
      p {
        color: $theme-gray2;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  .preview-area {
    display: none;

    &.active {
      display: block;
    }
    .preview-area-video {
      background: $theme-black;
      height: 400px;
      width: 100%;
      position: relative;
    }
    video {
      width: 100%;
      height: 100%;
    }
  }

  .msgform {
    padding: 12px;
    border: 1px solid red;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
  }

  .photopreview-area {
    display: flex;
    flex-flow: wrap;
    > img {
      margin-right: 10px;
      height: 135px;
      margin-bottom: 10px;
    }
  }
}

#carouselRmxmcdo {
  width: 100%;
  img {
    max-width: 100%;
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .carousel-indicators .active {
    background-color: $theme-orange;
  }
  .carousel-indicators button {
    background-color: $theme-orangelight;
  }
}

#alertModal,
#alertreplaceModal {
  .modal-body {
    padding: 0;
    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: rgb(22, 24, 35);
      word-break: break-word;
      text-align: center;
      padding: 25px 30px 6px 30px;
    }
    p {
      margin-top: 8px;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      word-break: break-word;
      text-align: center;
      color: rgba(22, 24, 35, 0.5);
      padding: 0px 15px 6px 15px;
    }
    .btn-alert {
      padding: 16.5px 16px 17px;
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      border-top: 1px solid rgba(22, 24, 35, 0.12);
      word-break: break-word;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      &.red {
        a {
          font-weight: 600 !important;
          color: rgb(254, 44, 85) !important;
        }
      }
    }
  }
}

.circular {
  height: 100px;
  width: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: $theme-white;
  border-radius: 100%;
}
.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: $theme-yellow;
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: $theme-yellow;
}
.circle .left .progress {
  z-index: 1;
  animation: left 1s linear both;
}
@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}
.circle .right {
  transform: rotate(180deg);
  z-index: 3;
}
.circle .right .progress {
  animation: right 1s linear both;
  animation-delay: 1s;
}
@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}

.videopreview-info {
  margin-top: 18px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(22, 24, 35, 0.12);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  > div:last-child {
    text-align: end;
    margin-top: 20px;
    a {
      color: $theme-orange;
    }
  }
}

#approvalModal,
#declineModal {
  select {
    margin-bottom: 20px;
    width: auto;
    padding-right: 45px;
  }
}

select {
  padding-right: 45px;
}
